.Footer {
  background-color: #473249;
  padding: 1rem 0;
}

.width-footer {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-footer {
  display: flex;
  flex-direction: column;
}