.Footer {
  background-color: #473249;
  padding: 1rem 0;
}

.width-footer {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.flex-footer {
  display: flex;
  gap: 1.7rem;
}

.link-footer:hover {
  color: black;
}


@media (min-width:1024px) {
  .width-footer {
    padding: 0;
  }
}